.logo{
    display: flex;
    width: 66px;
    margin: auto;
    height: 60px;
}

body{
    background-color: red;
}

.container{
    background-color: aliceblue;
    /* display: block; */
    max-width: 850px;
    margin: auto;
    height: 73vh;
    overflow-y: auto;
    margin-bottom: 20px;
   
}

.message{
    background-color: grey;
    margin: 17px 12px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px ;
    width: 38%;

}

.left{
    float: left;
    clear: both;

}

.right{
    float: right;
    clear: both;

}

#send-container{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 989px;
    width: 100%;
}

#messageInp{
    margin: 5px;
    border-radius: 5px;
    border: 2px solid black;
    width: 750px;
    height: 22px;
}

.btn{
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid black;
    height: 22px;
}